[submodule ".config/nvim"]
	path = dot-config/nvim
	url = https://github.com/Ledity/nvim-dotfiles.git
[submodule ".config/fish"]
	path = dot-config/fish
	url = https://github.com/Ledity/fish-dotfiles.git
[submodule ".config/helix"]
	path = dot-config/helix
	url = https://github.com/Ledity/helix-dotfiles.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/Ledity/nvim-dotfiles
[submodule "dot-config/nvim"]
	path = dot-config/nvim
	url = https://github.com/Ledity/nvim-dotfiles
