[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Ledity/nvim-dotfiles.git
[submodule ".config/fish"]
	path = .config/fish
	url = https://github.com/Ledity/fish-dotfiles.git
[submodule ".config/helix"]
	path = .config/helix
	url = https://github.com/Ledity/helix-dotfiles.git
